.wrapper

  = render partial: 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group Sample
        %ul.main-header__left-box__member-list 
          Menber : 
          %li.main-header__left-box__member-list__member seo
          %li.main-header__left-box__member-list__member neko     
      =link_to "Edit", edit_group_path(current_user), class: 'main-header__edit-btn'    

    .messages
      .message{data: {massage_id: "1"}} 
        .message__upper-info
          %p.message__upper-info__talker
            Seo
          %p.message__upper-info__date
            2019/06/30(sun) 22:41:30
        %p.message__text
          Hello
    .form
      %form
        %input.form__message{type: "text", placeholder: "type a messge"}
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit-btn{type: "submit", value: "Send" }               