.chat-side{
  width: 300px;
  color: white;
  float: left;
    .side-header{
      background-color: $side_blue_dark;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        &__user-name{
          font-size: $side_header_font;
        }
        &__menu{
          display: flex;
          list-style: none;
          .icon{
            color: white;
          }
          &__new-group{
            margin-left: 0.3rem;
          }
          &__edit-user{
            margin-left: 0.3rem;
          }
        }
      }
    }
    .groups{
      height: calc(100vh - 100px);
      background-color: $side_blue_light;
      padding: 20px 20px 0px;
      overflow: scroll;
      .group{
        margin-bottom: 40px;
        .group-link{
          text-decoration: none;
        }
        &__group-name{
          font-size: $side_group_name;
          margin-bottom: 5px;
          color: white; 
        }
        &__latest-message{
          font-size: $side_group_message;
          color: white;
          margin-bottom: 40px;
          
        }
      }
    }  
}